
#section_info{
    background-color: black;
    color: white;
}

.p_quienes_somos{
    justify-content: flex-end;
}

.size-imagen {
    height: 300px;
    width: 100%;
}

.Icon_bg{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #00bfff;
    color: white;
    
}

div i{
    font-size: 25px;
}

footer{
    background-color: #00bfff;
}

.Contact_form{

    padding-bottom: 1%;
}

.form_inputs{
    padding-top: 1%;
    padding-bottom: 1%;
}

.Social_media_icons{
    padding-top: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}